/* Font Face Declarations */
/* NOTE: It is illegal to download or use these custom fonts without permission. */
@font-face {
    font-family: 'CustomFont1';
    src: url('../assets/fonts/Custom1/CustomFont1-A.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CustomFont1';
    src: url('../assets/fonts/Custom1/CustomFont1-B.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CustomFont2';
    src: url('../assets/fonts/Custom2/CustomFont2-A.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CustomFont2';
    src: url('../assets/fonts/Custom2/CustomFont2-B.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}